@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700&family=Poppins:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --color-amal-orange: #fb923c;
  --color-amal-blue: #1e3a8a;
  --font-sans: "Poppins", ui-sans-serif, system-ui, sans-serif;
  --font-heading: "Outfit", ui-sans-serif, system-ui, sans-serif;
}

body {
  @apply font-sans bg-slate-50 text-slate-800 antialiased;
}
